$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.thumbnail { height: 280px !important; }

.build-list{
  margin-bottom: 20px;
  border: 3px solid #000000
}
.item-list{
  margin-bottom: 20px;
  border: 3px solid #000000
}
.btn-droppable {
  width: 100%;
  height: 50px;
  padding-left: 4px;
  border: 1px solid #000000

}
.btn-draggable {
  width: 100%;

}


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[ng-drag] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[ng-drag] {
  width: 100px;
  height: 100px;
  background: rgba(255, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding-top: 40px;
  display: block;
  cursor: move;
}

[ng-drag].one {
  background: rgba(255, 0, 0, 0.5);
}

[ng-drag].two {
  background: rgba(0, 255, 0, 0.5);
}

[ng-drag].three {
  background: rgba(0, 0, 255, 0.5);
}

[ng-drag].drag-over {
  border: solid 1px red;
}

[ng-drag].dragging {
  opacity: 0.5;
}

[ng-drop] {
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  display: block;
  position: relative;
  padding: 20px;
  width: 140px;
  height: 140px;
  float: left;
}

[ng-drop].drag-enter {
  border: solid 5px red;
}

[ng-drop] span.title {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 20px;
  margin-left: -100px;
  margin-top: -10px;
}

[ng-drop] div {
  position: relative;
  z-index: 2;
}

.draglist {
  display: inline-block;
  margin: 0 auto;
}


