$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
ul, li, button {
  padding: 0;
}

/* Removing focus outlines */
button, .glyphicon {
  outline: none;
}

*{
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
[ng-drag], select, td, div, .glyphicon{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[draggable] {
  cursor: move;

  span {
    font-size: 2.0em;
  }
}

.add-delete-button {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  right:0;
  top:35%
}
.drag-name{
  display: none;
}
//some classes that are applied via ng-drag directive
//use as needed
.drag-enter{ //applied to <tr> when drag object enters it
  -webkit-box-shadow: 0px 0px 27px 4px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 27px 4px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 27px 4px rgba(0,0,0,0.55);
  overflow: visible;
}
.dragging{ //applied to the <td> that is being dragged
  .drag-name{
    display: inline-block;
    opacity: 0.5;
  }
}
