$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
ul, li, button {
  padding: 0;
}
*{
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
[ng-drag]{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*.drag-object{
  background: rgba(255,0,0, 0.5);
  color: white;
  text-align: center;
}*/
/*.drag-object[ng-drag]{
  position: absolute;
  top:0; left:0;

}*/
/*.draggable-objects li{
  float:left;
  display: block;
  width: 100%;
}
.draggable-objects li>div{
  float:left;
  display: block;
  width: 100%;
  height:45px;
  cursor: move;
}
.draggable-objects li>div>div{
  height: 100%;
}

.draggable-objects li>div div{
  border-right: 1px solid black;
}

.dragging{
  background: rgba(128, 128, 128, .5);
  opacity: .5;
}
.clone-holder .dragging{
  width: 29.1% !important;

}

.list-group-item {
  padding: 0.75em;
}
.list-holder .dragging {
  width: 61.5% !important;
}

.outline {
  border: dashed 4px orange;
}*/
[draggable] {
  cursor: move;
  background: red;

  span {
    font-size: 2.5em;
  }
}

