$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Reset padding */
ul, li, button {
  padding: 0;
}

/* Remove focus outlines */
button, .glyphicon {
  outline: none;
}

/* Keep list and row from collapsing when item's dragged */
tr, .list-group-item {
  height: 4.5rem;
  line-height: 2.5;
}

/* A hack-ish way to center table content vertically because Bootstrap specificity is too high */
.table > tbody > tr > td {
  vertical-align: middle;
}

*{
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
[ng-drag], select, div, .glyphicon{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[draggable] {
  cursor: move;

  span {
    font-size: 2.0em;
  }
}

.add-delete-button {
  cursor: pointer;
  float: right;
}

.drag-name{
  display: none;
}
//some classes that are applied via ng-drag directive
//use as needed
.drag-enter{ //applied to <tr> when drag object enters it
  -webkit-box-shadow: 0px 0px 27px 4px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 27px 4px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 27px 4px rgba(0,0,0,0.55);
  overflow: visible;
}
.dragging{ //applied to the <td> that is being dragged
  .drag-name{
    display: inline-block;
    opacity: 0.5;
  }
  .add-delete-button{
    display: none;
  }
}

.table-striped > tbody > tr:nth-child(odd).drag-enter, .drag-enter {
  opacity: 0.5;
}

// Header styles
.header {
  font-size: 16px;
  margin-bottom: 20px;
}
