$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//+++++++++++++++++++++++++++++
// Reset Styles
//++++++++++++++++++++++++++++
body{
  margin: 0;
  padding: 0;
}

//+++++++++++++++++++++++++++++
// View Styles
//++++++++++++++++++++++++++++
.view{
  margin: 50px;
}



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Reset padding */
ul, li, button {
  padding: 0;
}

/* Remove focus outlines */
button, .glyphicon {
  outline: none;
}

/* Keep list and row from collapsing when item's dragged */
tr, .list-group-item {
  height: 4.5rem;
  line-height: 2.5;
}

/* A hack-ish way to center table content vertically because Bootstrap specificity is too high */
.table > tbody > tr > td {
  vertical-align: middle;
}

*{
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
[ng-drag], select, div, .glyphicon{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[draggable] {
  cursor: move;

  span {
    font-size: 2.0em;
  }
}

.add-delete-button {
  cursor: pointer;
  float: right;
}

.drag-name{
  display: none;
}
//some classes that are applied via ng-drag directive
//use as needed
.drag-enter{ //applied to <tr> when drag object enters it
  -webkit-box-shadow: 0px 0px 27px 4px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 27px 4px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 27px 4px rgba(0,0,0,0.55);
  overflow: visible;
}
.dragging{ //applied to the <td> that is being dragged
  .drag-name{
    display: inline-block;
    opacity: 0.5;
  }
  .add-delete-button{
    display: none;
  }
}

.table-striped > tbody > tr:nth-child(odd).drag-enter, .drag-enter {
  opacity: 0.5;
}

//+++++++++++++++++++++++++++++
// Header Styles
//++++++++++++++++++++++++++++
.header {
  height: 55px;
  background: #1caff6;
  background-color: rgba(32,166,231,0.8);
  background-image: linear-gradient(to bottom, #20a8e9, rgba(30,158,220,0.5));
  background-repeat: repeat-x;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding-left: 50px;

  .nav > li > a{
    color: #ffffff;
  }
  .nav > li > a:hover, .nav > li > a:focus{
    border-radius: 200px;
    background:#1493d1;
  }
  .nav-pills > li.active > a{
    border-radius: 200px;
    background:#1493d1;
  }
}
.vcenter.nav{
  width: 98%;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.place{height: 55px}

//+++++++++++++++++++++++++++++
// Authorization Styles
// ++++++++++++++++++++++++++++
.authPane_toggle {
  font-size: 16px;
  padding: 10px 15px;
}

.authPane {
  width: 30em;
  background-color: lighten(#31b0d5, 20%);
  position: absolute;
  left: -5em;
  z-index: 10;
  padding: 0.5em;
  border-radius: 4px;

  .sign {
    width: 5em;
    float: right;
  }

  &__user {
    overflow: auto;
  }

  &__oAuth {
  }
}
