{{pageInfo}}
<!-- login page -->
<div class="row">
    <h2>Build your list here</h2>

    <label for="newListName" class="sr-only">List Name</label>
    <input type="text" id="newListName" ng-model="newList.name" class="form-control" placeholder="Your list name" required autofocus>

    <label for="newListCategory" class="sr-only">Category</label>
    <select class="form-control" id="newListCategory" ng-model="newList.category" ng-options="n for n in catRef"></select>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="rememberLogin"> Remember me
      </label>
    </div>
    <button ng-click="login(user)" class="btn btn-lg btn-primary btn-block">Login</button>
    <button ng-click="register(user)" class="btn btn-lg btn-success btn-block">Register</button>

  <button type="button" ng-click="log(catRef); log(ref)" class="">asldf</button>
</div>