<div class="row">
  <div class="col-xs-12">
    <button ng-click="report(fireData)">report</button>
    <input ng-model="itemNumber">
    <button ng-click="addItem(itemNumber)">add</button>
  </div>
</div>

<div class="row">
  
  <!-- Small left panel -->
  <div class="panel panel-primary col-xs-4">
    <ul class="list-group draggable-objects clone-holder">
      <li  ng-repeat="obj in draggableObjects" style="border: blue solid 1px" class="list-group-item drag-object" >
        <div ng-drag="true" ng-drag-data="obj" style="border: #000000 solid 1px">{{obj.name}}</div>
      </li>
    </ul>
  </div>

  <!-- Main right panel -->
  <div class="panel panel-primary col-xs-8">
    
    <ul class="list-group draggable-objects list-holder">
      
      <li ng-repeat="obj in fireData[0]" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)" class="list-group-item drag-object">
        
        <div class="row">
          <div class="col-xs-1">
            <div draggable="true" ng-drag="true" ng-drag-data="obj">{{$index+1}}</div>
          </div>

          <div class="col-xs-4">{{obj.name}}</div>
          
          <div class="col-xs-2">{{obj.type}}type</div>
          
          <div class="col-xs-2"><input type="checkbox" ng-model="obj.completed"></div>

          <div class="col-xs-2"><div class="col-xs-4">{{obj.sets}}</div>
            <select ng-model="obj.sets" ng-options="i for n in range(1,100)" class="col-xs-8">
            </select>
          </div>

          <div class="col-xs-1">
            <button class="btn btn-group-xs btn-danger" ng-click="deleteItem($index)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>

        </div> <!-- /.row -->

      </li> <!-- /list item -->

    </ul> <!-- /list-group draggable-objects list-holder -->

  </div> <!-- /Main right panel -->

</div> <!-- /.row -->

<p>This is the end.</p>


