<ul class="nav nav-pills pull-right">
  <li ng-cloak ng-hide="user"><a href="#login">Log in</a></li>
  <li ng-cloak ng-show="user"><a ng-click="logout()">Log out</a></li>
</ul>
<div ng-show="!user" class="row">
  <button class="btn btn-danger btn-large" ng-click="signIn()">Sign In!</button>
  <div class="col-md-12">
    <div google-signin client-id={{clientId}} after-signin="signedIn(oauth)"></div>
  </div>
</div>
<div ng-show="user" class="row">
  <div class="col-md-12">
    <h2>Sign-out</h2>
    <button class="btn" ng-click="signout()">Sign Out</button>
  </div>
</div>
<button ng-click="report(user)">report</button>

<div ng-show="user">
  <pre>{{ user | json }}</pre>
</div>