
<div ng-show="!user" class="row">
  <button class="btn btn-danger btn-large" ng-click="signIn()">Sign In!</button>

</div>
<div ng-show="user" class="row">
  <div class="col-md-12">
    <h2>Sign-out</h2>
    <button class="btn" ng-click="signout()">Sign Out</button>
  </div>
</div>
<br>
<input ng-model="uInput" type="text">
<button ng-click="doIt()">report</button>
<br>
<button ng-click="log(sync2)">readData</button>
<div ng-repeat="item in sync2">
  <p>1 {{item.body}} </p>
</div>
<br>




<div ng-show="user">
  <pre>{{ user | json }}</pre>
</div>

