
<div ng-show="!user" class="row">
  <button class="btn btn-danger btn-large" ng-click="signIn()">Sign In!</button>

</div>
<div ng-show="user" class="row">
  <div class="col-md-12">
    <h2>Sign-out</h2>
    <button class="btn" ng-click="signout()">Sign Out</button>
  </div>
</div>
<br>
<input ng-model="uInput" type="text">
<button ng-click="doIt()">report</button>
<br>
<button ng-click="log(sync2)">readData</button>
<div ng-repeat="users in sync2">
  <p><h4>User ID: {{users.$id}} </h4></p>
  <div ng-repeat="(key, value) in users">
    <p>Body: {{value.body}}</p>
    <button ng-click="deleteItem(users, key)">Delete</button>
  </div>
</div>
<br>




<div ng-show="user">
  <pre>{{ user | json }}</pre>
</div>

